name: Expand Team Reviewers

on:
  workflow_call:
    inputs:
      requested_team:
        description: 'Slug of the requested team'
        required: true
        type: string
      pull_request_number:
        description: 'Pull request number'
        required: true
        type: number
      repository:
        description: 'Repository in org/repo format'
        required: true
        type: string
    secrets:
      AUTOMATION_CLIENT_ID:
        required: true
      AUTOMATION_CLIENT_SECRET:
        required: true

jobs:
  expand-team-reviewers:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v2
        id: generate_token
        with:
          app-id: ${{ secrets.AUTOMATION_CLIENT_ID }}
          private-key: ${{ secrets.AUTOMATION_CLIENT_SECRET }}
          owner: ${{ github.repository_owner }}

      - name: Expand team to individual reviewers
        shell: bash
        run: |
          org="${{ github.repository_owner }}"
          repo="${{ inputs.repository }}"
          team="${{ inputs.requested_team }}"
          pr="${{ inputs.pull_request_number }}"
          pr_author="${{ github.event.pull_request.user.login }}"
          # Get team members, but filter out a PR author because review cannot be requested from the author
          members=$(gh api /orgs/$org/teams/$team/members \
                        --paginate \
                        --jq '.[].login | select(. != "'"$pr_author"'")' )

          exit_code=$?
          if [[ $exit_code -ne 0 ]]
          then
            echo "Error: Failed to fetch team members"
            echo "$members" # contains the error message
            exit $exit_code
          fi

          if [[ -n "$members" ]]
          then
            members_list=$(echo "$members" | paste -sd ",")
            echo "Requesting review for $repo#$pr from $org/$team members: $members_list"

            gh api \
                --method DELETE \
                -H "Accept: application/vnd.github+json" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                /repos/$repo/pulls/$pr/requested_reviewers --input - <<< '{
                    "reviewers": [],
                    "team_reviewers": [
                        "'"$team"'"
                    ]
            }'

            gh pr edit "$pr" \
              --repo "$repo" \
              --add-reviewer "$members_list"
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
